{{! These are the cards generated to show the user their own posts in their dashboard  }}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <p class="card-text text-muted text-end byTag">
      {{user.name}}
      on
      {{format_date date_created}}</p>
      <button type="button" class="btn btn-warning"><a href="/api/dashboard/create/{{id}}">Edit</a></button>
      <button type="button" class="btn btn-danger">Delete</button>
  </div>
</div>